@using Wallet.Models.WalletModels
@model Wallet.Models.DBViewModels.AddRecordViewModel
<h3>Today Records</h3>
<table Id="todayTarnsactions" class="table table-bordered table-hover">
    <thead>
        <tr class="text-center" style="font-weight:bold">
            <td>Type</td>
            <td>Category</td>
            <td>Sub-Category</td>
            <td>Value</td>
            <td>Delete</td>
        </tr>

    </thead>
    <tbody>        
        @*the records are shown here by using a method which calls from the daily record*@
    </tbody>
</table>

