@using Microsoft.Ajax.Utilities
@using Wallet.Models.DBViewModels
@using Wallet.Models.WalletModels
@model Wallet.Models.DBViewModels.ReportViewModel

<div>
    @Html.AntiForgeryToken()
    @Html.Partial("_SearchDataInput")
    <div class="row">
               
        <div class="col-4"></div>
    </div>
</div>
